<?xml version="1.0" encoding="UTF-8"?> 
<widget xmlns="http://www.w3.org/ns/widgets" 
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    version="1.0.0.0" id="LightstreamerSLD">   
   
    <name>StockList Demo JS</name> 
    <author>Weswit Srl</author>
    <description>Lightstreamer StockList Demo Client for BlackBerry WebWorks</description>
    <icon src="img/icon.png"/>
    <content src="index.html"/> 
 
    <rim:permissions>
      <rim:permit>run_when_backgrounded</rim:permit>
    </rim:permissions>
    <access uri="http://push.lightstreamer.com" subdomains="false" />
</widget>
